<div>
    <form  [formGroup]="signinForm" (ngSubmit)="loginUser()">
      <h3>Please sign in</h3>
      <div>
        <label>User Name</label>
        <input
          type="username"
          class="form-control"
          formControlName="username"
          placeholder="User Name"
          required
        />
      </div>
      <div>
        <label>Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Password"
        />
      </div>
      <button type="submit">Sign in</button>
    </form>
  </div>